.rodape {
    background: var(--preto);
    font-family: var(--roboto);
    text-align: center;
}

.rodape__div p {
    color: var(--cinza-escuro);
    font-weight: 400;
    letter-spacing: 0.12rem;
    margin-bottom: 1.6rem;
}

.rodape__div p:last-child {
    margin-bottom: 1.9rem;
}

@media screen and (min-width: 0) {
    .rodape {
        padding: 2.35rem 0 0.5rem;
    }

    .rodape__div p {
        font-size: 0.85rem;
    }

    .rodape__div p:last-child {
        margin-bottom: 1.9rem;
    }
}

@media screen and (min-width: 768px) {
    .rodape {
        padding: 1.9rem 0 0.75rem;
    }

    .rodape__div p {
        font-size: 0.9rem;
    }

    .rodape__div p:last-child {
        margin-bottom: 1.25rem;
    }
}