section.sobre-mim {
    /* background-attachment: fixed; */
    background-color: var(--azul-escuro);
    background-image: url(../img/fundo5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: auto;
    /* Telas maiores */
    /* height: 100vh; */
}

.sobre-mim__container h2, p {
    color: var(--branco);
}

.sobre-mim__ola-mundo {
    font-size: 1.5rem;
    padding: 4rem 3rem 4.8rem;
}

.sobre-mim__nome {
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 3rem;
    text-transform: uppercase;
    border-right: 4px solid;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(22), blinking 0.5s infinite step-end alternate;
}

.sobre-mim__paragrafo {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2;
    /* margin-right: 5rem; */
    padding: 6.3rem 2.5rem 0 3rem;
    text-align: justify;
}

.sobre-mim__paragrafo:last-child {
    padding-bottom: 4.5rem;
    padding-top: 3rem;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}