section.sobre-mim {
    /* background-attachment: fixed; */
    background-color: var(--azul-escuro);
    background-image: url(../img/fundo5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: auto;
    /* Telas maiores */
    /* height: 100vh; */
}

.sobre-mim__container h2, p {
    color: var(--branco);
}

.sobre-mim__ola-mundo {
    font-size: 1.5rem;
    padding: 7rem 3rem 4.8rem;
}

.sobre-mim__nome {
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 3rem;
    text-transform: uppercase;
    border-right: 4px solid;
    width: 22ch;
    /* white-space: nowrap; */
    white-space: pre;
    overflow: hidden;
    animation: typing 2s steps(22), blinking 0.5s infinite step-start alternate;
}

.sobre-mim__paragrafo {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2;
    /* margin-right: 5rem; */
    /* padding: 6.3rem 2.5rem 0 3rem; */
    text-align: justify;
}

.sobre-mim__paragrafo:last-child {
    padding-bottom: 5rem;
    padding-top: 3rem;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

@media screen and (min-width: 0) {
    .sobre-mim__nome {
        font-size: 1.7rem;
    }

    .sobre-mim__paragrafo {
        padding: 6.3rem 2.5rem 0 3rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre-mim__ola-mundo {
        padding-left: 3.5rem;
    }

    .sobre-mim__nome {
        font-size: 2.25rem;
        padding-left: 3.5rem;
    }

    .sobre-mim__paragrafo {
        padding: 5.5rem 3.5rem 0 3.5rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .sobre-mim__ola-mundo {
        padding-left: 4rem;
    }

    .sobre-mim__nome {
        font-size: 2.25rem;
        padding-left: 4rem;
    }

    .sobre-mim__paragrafo {
        padding: 5.5rem 15rem 0 4rem;
        margin-right: 4rem;
    }
}