:root {
    --azul-claro: #318FFF;
    --azul-escuro: #002046;
    --branco: #FDFDFD;
    --cinza-claro: #EEEEEE;
    --cinza-claro-formulario: #E3E3E3;
    --cinza-escuro: #8F8F8F;
    --cinza-escuro-formulario: #C0C0C0;
    --fundo-projetos: #D7E4F3;
    --preto: #000000;
    --inconsolata: 'Inconsolata', monospace;
    --roboto: 'Roboto', sans-serif;
}